/* Loading component */

.loader {
    margin: 20rem auto 0;
    border: 16px solid #f3f3f3;
    border-top: 16px solid yellow; 
    border-radius: 50%;
    width: 120px;
    height: 120px;
    animation: spin 2s linear infinite;
  }
  
  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }